<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.primary.mapper.OnlineStatisticsMapper" >
  <resultMap id="BaseResultMap" type="com.fish.dao.primary.model.OnlineStatistics" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ddOnlineCount" property="ddonlinecount" jdbcType="BIGINT" />
    <result column="ddGameRoomCount" property="ddgameroomcount" jdbcType="BIGINT" />
    <result column="ddRemainRoomCount" property="ddremainroomcount" jdbcType="BIGINT" />
    <result column="ddGameDistribution" property="ddgamedistribution" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, ddOnlineCount, ddGameRoomCount, ddRemainRoomCount, ddGameDistribution
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from online_statistics
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from online_statistics
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from online_statistics
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fish.dao.primary.model.OnlineStatistics" >
    insert into online_statistics (id, ddOnlineCount, ddGameRoomCount, 
      ddRemainRoomCount, ddGameDistribution)
    values (#{id,jdbcType=INTEGER}, #{ddonlinecount,jdbcType=BIGINT}, #{ddgameroomcount,jdbcType=BIGINT}, 
      #{ddremainroomcount,jdbcType=BIGINT}, #{ddgamedistribution,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fish.dao.primary.model.OnlineStatistics" >
    insert into online_statistics
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ddonlinecount != null" >
        ddOnlineCount,
      </if>
      <if test="ddgameroomcount != null" >
        ddGameRoomCount,
      </if>
      <if test="ddremainroomcount != null" >
        ddRemainRoomCount,
      </if>
      <if test="ddgamedistribution != null" >
        ddGameDistribution,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ddonlinecount != null" >
        #{ddonlinecount,jdbcType=BIGINT},
      </if>
      <if test="ddgameroomcount != null" >
        #{ddgameroomcount,jdbcType=BIGINT},
      </if>
      <if test="ddremainroomcount != null" >
        #{ddremainroomcount,jdbcType=BIGINT},
      </if>
      <if test="ddgamedistribution != null" >
        #{ddgamedistribution,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fish.dao.primary.model.OnlineStatistics" >
    update online_statistics
    <set >
      <if test="ddonlinecount != null" >
        ddOnlineCount = #{ddonlinecount,jdbcType=BIGINT},
      </if>
      <if test="ddgameroomcount != null" >
        ddGameRoomCount = #{ddgameroomcount,jdbcType=BIGINT},
      </if>
      <if test="ddremainroomcount != null" >
        ddRemainRoomCount = #{ddremainroomcount,jdbcType=BIGINT},
      </if>
      <if test="ddgamedistribution != null" >
        ddGameDistribution = #{ddgamedistribution,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fish.dao.primary.model.OnlineStatistics" >
    update online_statistics
    set ddOnlineCount = #{ddonlinecount,jdbcType=BIGINT},
      ddGameRoomCount = #{ddgameroomcount,jdbcType=BIGINT},
      ddRemainRoomCount = #{ddremainroomcount,jdbcType=BIGINT},
      ddGameDistribution = #{ddgamedistribution,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>