<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.primary.mapper.ProductRemainMapper">
    <resultMap id="RemainResultMap" type="com.fish.dao.primary.model.ProductRemain">
        <id column="new_day" property="newDay" jdbcType="DATE"/>
        <result column="app_id" property="appId" jdbcType="VARCHAR"/>
        <result column="new_userCount" property="newUserCount" jdbcType="BIGINT"/>
        <result column="ac_userCount" property="acUserCount" jdbcType="BIGINT"/>
        <result column="remain_1" property="remain1" jdbcType="BIGINT"/>
        <result column="remain_3" property="remain3" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
        new_day, app_id, new_userCount,ac_userCount,remain_1,remain_3
    </sql>
    <sql id="Select_NewUser_List">
    newDay, appId, newUserCount
  </sql>
    <select id="selectAll" resultMap="RemainResultMap">
    select
    <include refid="Base_Column_List"/>
    from product_remain
    </select>
    <select id="selectAllTimeAndAppId" resultMap="RemainResultMap">
       SELECT
          DATE_FORMAT(times, '%Y-%m-%d') AS new_day,
          a.`appId` AS app_id
        FROM
          product_profile a
        GROUP BY new_day,
         a.`appId`
    </select>
    <select id="getNewUserInfo"  resultType="java.lang.String">
       SELECT b.`userId` FROM product_profile  b WHERE
       DATE_FORMAT(b.`times`,'%j%m%d') = DATE_FORMAT(#{newDay,jdbcType=DATE},'%j%m%d') AND
       b.`kind`="register" AND b.`appId`=#{appId,jdbcType=VARCHAR}
    </select>
    <select id="getAcUserInfo"  resultType="java.lang.String">
       SELECT b.`userId` FROM product_profile  b WHERE
       DATE_FORMAT(b.`times`,'%j%m%d') = DATE_FORMAT(#{newDay,jdbcType=DATE},'%j%m%d') AND
       b.`kind` !="register" AND b.`appId`=#{appId,jdbcType=VARCHAR}
    </select>
    <select id="selectAddUser" resultMap="RemainResultMap">
       SELECT
          DATE_FORMAT(times, '%Y-%m-%d') AS new_day,
          COUNT(DISTINCT  a.`userId`) as new_userCount,appId AS app_id
          FROM
          product_profile a
          WHERE a.kind = "register"
          GROUP BY new_day ,app_id
    </select>
    <select id="selectActiveUser" resultMap="RemainResultMap">
        SELECT
           DATE_FORMAT(times, '%Y-%m-%d') AS new_day,
           COUNT(DISTINCT  a.`userId`) AS ac_userCount,
           a.`appId` as app_id
           FROM
           product_profile a
           WHERE (kind = "login" OR kind = "play" OR kind ="pay") GROUP BY new_day ,app_id
    </select>

    <insert id="insertData" parameterType="com.fish.dao.primary.model.ProductRemain">
        insert into product_remain
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="newDay != null">
                new_day,
            </if>
            <if test="appId != null">
                app_id,
            </if>
            <if test="newUserCount != null">
                new_userCount,
            </if>
            <if test="acUserCount != null">
                ac_userCount,
            </if>
            <if test="remain1 != null">
                remain_1,
            </if>
            <if test="remain3 != null">
                remain_3,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="newDay != null">
                #{newDay,jdbcType=DATE},
            </if>
            <if test="appId != null">
                #{appId,jdbcType=VARCHAR},
            </if>
            <if test="newUserCount != null">
                #{newUserCount,jdbcType=BIGINT},
            </if>
            <if test="acUserCount != null">
                #{acUserCount,jdbcType=BIGINT},
            </if>
            <if test="remain1 != null">
                #{remain1,jdbcType=BIGINT},
            </if>
            <if test="remain3 != null">
                #{remain3,jdbcType=BIGINT},
            </if>
        </trim>
        ON DUPLICATE KEY UPDATE
        <trim prefix=" " suffix="" suffixOverrides=",">
            <if test="newUserCount != null">
                new_userCount=values(new_userCount),
            </if>
            <if test="acUserCount != null">
                ac_userCount=values(ac_userCount),
            </if>
            <if test="remain1 != null">
                remain_1=values(remain_1),
            </if>
            <if test="remain3 != null">
                remain_3=values(remain_3),
            </if>
        </trim>
    </insert>

</mapper>
