<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.primary.mapper.GameRoundMapper" >
  <resultMap id="BaseResultMap" type="com.fish.dao.primary.model.GameRound" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ddState" property="ddstate" jdbcType="BIT" />
    <result column="ddGame" property="ddgame" jdbcType="INTEGER" />
    <result column="ddRound" property="ddround" jdbcType="VARCHAR" />
    <result column="ddStart" property="ddstart" jdbcType="DATE" />
    <result column="ddEnd" property="ddend" jdbcType="DATE" />
    <result column="times" property="times" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, ddState, ddGame, ddRound, ddStart, ddEnd, times
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from game_round
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from game_round
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fish.dao.primary.model.GameRound" >
    insert into game_round (id, ddState,
      ddGame, ddRound, ddStart, 
      ddEnd, times)
    values (#{id,jdbcType=INTEGER}, #{ddstate,jdbcType=BIT},
      #{ddgame,jdbcType=INTEGER}, #{ddround,jdbcType=VARCHAR}, #{ddstart,jdbcType=DATE}, 
      #{ddend,jdbcType=DATE}, #{times,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fish.dao.primary.model.GameRound" >
    insert into game_round
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>

      <if test="ddstate != null" >
        ddState,
      </if>
      <if test="ddgame != null" >
        ddGame,
      </if>
      <if test="ddround != null" >
        ddRound,
      </if>
      <if test="ddstart != null" >
        ddStart,
      </if>
      <if test="ddend != null" >
        ddEnd,
      </if>
      <if test="times != null" >
        times,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>

      <if test="ddstate != null" >
        #{ddstate,jdbcType=BIT},
      </if>
      <if test="ddgame != null" >
        #{ddgame,jdbcType=INTEGER},
      </if>
      <if test="ddround != null" >
        #{ddround,jdbcType=VARCHAR},
      </if>
      <if test="ddstart != null" >
        #{ddstart,jdbcType=DATE},
      </if>
      <if test="ddend != null" >
        #{ddend,jdbcType=DATE},
      </if>
      <if test="times != null" >
        #{times,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fish.dao.primary.model.GameRound" >
    update game_round
    <set >
      <if test="id != null" >
       id = #{id,jdbcType=INTEGER},
      </if>
      <if test="ddstate != null" >
        ddState = #{ddstate,jdbcType=BIT},
      </if>
      <if test="ddgame != null" >
        ddGame = #{ddgame,jdbcType=INTEGER},
      </if>
      <if test="ddround != null" >
        ddRound = #{ddround,jdbcType=VARCHAR},
      </if>
      <if test="ddstart != null" >
        ddStart = #{ddstart,jdbcType=DATE},
      </if>
      <if test="ddend != null" >
        ddEnd = #{ddend,jdbcType=DATE},
      </if>
      <if test="times != null" >
        times = #{times,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fish.dao.primary.model.GameRound" >
    update game_round
    set
      ddState = #{ddstate,jdbcType=BIT},
      ddGame = #{ddgame,jdbcType=INTEGER},
      ddRound = #{ddround,jdbcType=VARCHAR},
      ddStart = #{ddstart,jdbcType=DATE},
      ddEnd = #{ddend,jdbcType=DATE},
      times = #{times,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectByDdCode" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from game_round
    where ddGame = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByDdRound" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from game_round
    where ddRound = #{ddround,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultType="com.fish.dao.primary.model.GameRound">
    select
    <include refid="Base_Column_List" />
    from game_round
  </select>


</mapper>