<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.primary.mapper.OnlineMapper" >
  <resultMap id="BaseResultMap" type="com.fish.dao.primary.model.Online" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="times" property="times" jdbcType="TIMESTAMP" />
    <result column="online" property="online" jdbcType="INTEGER" />
    <result column="idleRoom" property="idleroom" jdbcType="INTEGER" />
    <result column="buzyRoom" property="buzyroom" jdbcType="INTEGER" />
    <result column="gameInfo" property="gameinfo" jdbcType="VARCHAR" />
    <result column="insertTime" property="inserttime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, times, online, idleRoom, buzyRoom, gameInfo, insertTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from online
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectCurrent" resultMap="BaseResultMap" parameterType="string">
       ${_parameter}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from online
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fish.dao.primary.model.Online" >
    insert into online (id, times, online, 
      idleRoom, buzyRoom, gameInfo, 
      insertTime)
    values (#{id,jdbcType=BIGINT}, #{times,jdbcType=TIMESTAMP}, #{online,jdbcType=INTEGER}, 
      #{idleroom,jdbcType=INTEGER}, #{buzyroom,jdbcType=INTEGER}, #{gameinfo,jdbcType=VARCHAR}, 
      #{inserttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fish.dao.primary.model.Online" >
    insert into online
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="times != null" >
        times,
      </if>
      <if test="online != null" >
        online,
      </if>
      <if test="idleroom != null" >
        idleRoom,
      </if>
      <if test="buzyroom != null" >
        buzyRoom,
      </if>
      <if test="gameinfo != null" >
        gameInfo,
      </if>
      <if test="inserttime != null" >
        insertTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="times != null" >
        #{times,jdbcType=TIMESTAMP},
      </if>
      <if test="online != null" >
        #{online,jdbcType=INTEGER},
      </if>
      <if test="idleroom != null" >
        #{idleroom,jdbcType=INTEGER},
      </if>
      <if test="buzyroom != null" >
        #{buzyroom,jdbcType=INTEGER},
      </if>
      <if test="gameinfo != null" >
        #{gameinfo,jdbcType=VARCHAR},
      </if>
      <if test="inserttime != null" >
        #{inserttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fish.dao.primary.model.Online" >
    update online
    <set >
      <if test="times != null" >
        times = #{times,jdbcType=TIMESTAMP},
      </if>
      <if test="online != null" >
        online = #{online,jdbcType=INTEGER},
      </if>
      <if test="idleroom != null" >
        idleRoom = #{idleroom,jdbcType=INTEGER},
      </if>
      <if test="buzyroom != null" >
        buzyRoom = #{buzyroom,jdbcType=INTEGER},
      </if>
      <if test="gameinfo != null" >
        gameInfo = #{gameinfo,jdbcType=VARCHAR},
      </if>
      <if test="inserttime != null" >
        insertTime = #{inserttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fish.dao.primary.model.Online" >
    update online
    set times = #{times,jdbcType=TIMESTAMP},
      online = #{online,jdbcType=INTEGER},
      idleRoom = #{idleroom,jdbcType=INTEGER},
      buzyRoom = #{buzyroom,jdbcType=INTEGER},
      gameInfo = #{gameinfo,jdbcType=VARCHAR},
      insertTime = #{inserttime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>