<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.second.mapper.OperateUserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.fish.dao.second.model.OperateUserInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="ddAppId" property="ddappid" jdbcType="VARCHAR" />
    <result column="ddUserName" property="ddusername" jdbcType="VARCHAR" />
    <result column="ddpassword" property="ddpassword" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, ddAppId, ddUserName, ddpassword
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_info
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from user_info
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fish.dao.second.model.OperateUserInfo" >
    insert into user_info (id, ddAppId, ddUserName, 
      ddpassword)
    values (#{id,jdbcType=BIGINT}, #{ddappid,jdbcType=VARCHAR}, #{ddusername,jdbcType=VARCHAR}, 
      #{ddpassword,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fish.dao.second.model.OperateUserInfo" >
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ddappid != null" >
        ddAppId,
      </if>
      <if test="ddusername != null" >
        ddUserName,
      </if>
      <if test="ddpassword != null" >
        ddpassword,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="ddappid != null" >
        #{ddappid,jdbcType=VARCHAR},
      </if>
      <if test="ddusername != null" >
        #{ddusername,jdbcType=VARCHAR},
      </if>
      <if test="ddpassword != null" >
        #{ddpassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fish.dao.second.model.OperateUserInfo" >
    update user_info
    <set >
      <if test="ddappid != null" >
        ddAppId = #{ddappid,jdbcType=VARCHAR},
      </if>
      <if test="ddusername != null" >
        ddUserName = #{ddusername,jdbcType=VARCHAR},
      </if>
      <if test="ddpassword != null" >
        ddpassword = #{ddpassword,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fish.dao.second.model.OperateUserInfo" >
    update user_info
    set ddAppId = #{ddappid,jdbcType=VARCHAR},
      ddUserName = #{ddusername,jdbcType=VARCHAR},
      ddpassword = #{ddpassword,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>