<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.second.mapper.UserAllInfoMapper" >
  <resultMap id="BaseResultMap" type="com.fish.dao.second.model.UserAllInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ddUid" property="dduid" jdbcType="VARCHAR" />
    <result column="ddClientVersion" property="ddclientversion" jdbcType="VARCHAR" />
    <result column="ddName128u" property="ddname128u" jdbcType="VARCHAR" />
    <result column="ddAvatarUrl1024u" property="ddavatarurl1024u" jdbcType="VARCHAR" />
    <result column="ddAvatarFrame" property="ddavatarframe" jdbcType="INTEGER" />
    <result column="ddAvatarFrameGain512a" property="ddavatarframegain512a" jdbcType="VARCHAR" />
    <result column="ddSex" property="ddsex" jdbcType="INTEGER" />
    <result column="ddProvince" property="ddprovince" jdbcType="VARCHAR" />
    <result column="ddCity" property="ddcity" jdbcType="VARCHAR" />
    <result column="ddCountry" property="ddcountry" jdbcType="VARCHAR" />
    <result column="ddLanguage" property="ddlanguage" jdbcType="VARCHAR" />
    <result column="ddTitle64u" property="ddtitle64u" jdbcType="VARCHAR" />
    <result column="ddTitleGain2048u" property="ddtitlegain2048u" jdbcType="VARCHAR" />
    <result column="ddAwardMoney" property="ddawardmoney" jdbcType="INTEGER" />
    <result column="ddAwardCoin" property="ddawardcoin" jdbcType="INTEGER" />
    <result column="ddAwardList1024a" property="ddawardlist1024a" jdbcType="VARCHAR" />
    <result column="ddCoinCount" property="ddcoincount" jdbcType="INTEGER" />
    <result column="ddLevel" property="ddlevel" jdbcType="INTEGER" />
    <result column="ddStar" property="ddstar" jdbcType="INTEGER" />
    <result column="ddCollected" property="ddcollected" jdbcType="INTEGER" />
    <result column="ddInterested" property="ddinterested" jdbcType="INTEGER" />
    <result column="ddServicedTime" property="ddservicedtime" jdbcType="VARCHAR" />
    <result column="ddSharedTime" property="ddsharedtime" jdbcType="VARCHAR" />
    <result column="ddTotalPayMoney" property="ddtotalpaymoney" jdbcType="INTEGER" />
    <result column="ddDayWatchVideo" property="dddaywatchvideo" jdbcType="INTEGER" />
    <result column="ddDayLoginGift" property="dddaylogingift" jdbcType="INTEGER" />
    <result column="ddRegisterTime" property="ddregistertime" jdbcType="VARCHAR" />
    <result column="ddLoginTime" property="ddlogintime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, ddUid, ddClientVersion, ddName128u, ddAvatarUrl1024u, ddAvatarFrame, ddAvatarFrameGain512a, 
    ddSex, ddProvince, ddCity, ddCountry, ddLanguage, ddTitle64u, ddTitleGain2048u, ddAwardMoney, 
    ddAwardCoin, ddAwardList1024a, ddCoinCount, ddLevel, ddStar, ddCollected, ddInterested, 
    ddServicedTime, ddSharedTime, ddTotalPayMoney, ddDayWatchVideo, ddDayLoginGift, ddRegisterTime, 
    ddLoginTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByUid" resultMap="BaseResultMap" parameterType="java.lang.String" statementType="STATEMENT">
    select
    <include refid="Base_Column_List" />
    from  ${tableName}
    where ddUid = "${dduid}"
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fish.dao.second.model.UserAllInfo" >
    insert into user (id, ddUid, ddClientVersion, 
      ddName128u, ddAvatarUrl1024u, ddAvatarFrame, 
      ddAvatarFrameGain512a, ddSex, ddProvince, 
      ddCity, ddCountry, ddLanguage, 
      ddTitle64u, ddTitleGain2048u, ddAwardMoney, 
      ddAwardCoin, ddAwardList1024a, ddCoinCount, 
      ddLevel, ddStar, ddCollected, 
      ddInterested, ddServicedTime, ddSharedTime, 
      ddTotalPayMoney, ddDayWatchVideo, ddDayLoginGift, 
      ddRegisterTime, ddLoginTime)
    values (#{id,jdbcType=INTEGER}, #{dduid,jdbcType=VARCHAR}, #{ddclientversion,jdbcType=VARCHAR}, 
      #{ddname128u,jdbcType=VARCHAR}, #{ddavatarurl1024u,jdbcType=VARCHAR}, #{ddavatarframe,jdbcType=INTEGER}, 
      #{ddavatarframegain512a,jdbcType=VARCHAR}, #{ddsex,jdbcType=INTEGER}, #{ddprovince,jdbcType=VARCHAR}, 
      #{ddcity,jdbcType=VARCHAR}, #{ddcountry,jdbcType=VARCHAR}, #{ddlanguage,jdbcType=VARCHAR}, 
      #{ddtitle64u,jdbcType=VARCHAR}, #{ddtitlegain2048u,jdbcType=VARCHAR}, #{ddawardmoney,jdbcType=INTEGER}, 
      #{ddawardcoin,jdbcType=INTEGER}, #{ddawardlist1024a,jdbcType=VARCHAR}, #{ddcoincount,jdbcType=INTEGER}, 
      #{ddlevel,jdbcType=INTEGER}, #{ddstar,jdbcType=INTEGER}, #{ddcollected,jdbcType=INTEGER}, 
      #{ddinterested,jdbcType=INTEGER}, #{ddservicedtime,jdbcType=VARCHAR}, #{ddsharedtime,jdbcType=VARCHAR}, 
      #{ddtotalpaymoney,jdbcType=INTEGER}, #{dddaywatchvideo,jdbcType=INTEGER}, #{dddaylogingift,jdbcType=INTEGER}, 
      #{ddregistertime,jdbcType=VARCHAR}, #{ddlogintime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fish.dao.second.model.UserAllInfo" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dduid != null" >
        ddUid,
      </if>
      <if test="ddclientversion != null" >
        ddClientVersion,
      </if>
      <if test="ddname128u != null" >
        ddName128u,
      </if>
      <if test="ddavatarurl1024u != null" >
        ddAvatarUrl1024u,
      </if>
      <if test="ddavatarframe != null" >
        ddAvatarFrame,
      </if>
      <if test="ddavatarframegain512a != null" >
        ddAvatarFrameGain512a,
      </if>
      <if test="ddsex != null" >
        ddSex,
      </if>
      <if test="ddprovince != null" >
        ddProvince,
      </if>
      <if test="ddcity != null" >
        ddCity,
      </if>
      <if test="ddcountry != null" >
        ddCountry,
      </if>
      <if test="ddlanguage != null" >
        ddLanguage,
      </if>
      <if test="ddtitle64u != null" >
        ddTitle64u,
      </if>
      <if test="ddtitlegain2048u != null" >
        ddTitleGain2048u,
      </if>
      <if test="ddawardmoney != null" >
        ddAwardMoney,
      </if>
      <if test="ddawardcoin != null" >
        ddAwardCoin,
      </if>
      <if test="ddawardlist1024a != null" >
        ddAwardList1024a,
      </if>
      <if test="ddcoincount != null" >
        ddCoinCount,
      </if>
      <if test="ddlevel != null" >
        ddLevel,
      </if>
      <if test="ddstar != null" >
        ddStar,
      </if>
      <if test="ddcollected != null" >
        ddCollected,
      </if>
      <if test="ddinterested != null" >
        ddInterested,
      </if>
      <if test="ddservicedtime != null" >
        ddServicedTime,
      </if>
      <if test="ddsharedtime != null" >
        ddSharedTime,
      </if>
      <if test="ddtotalpaymoney != null" >
        ddTotalPayMoney,
      </if>
      <if test="dddaywatchvideo != null" >
        ddDayWatchVideo,
      </if>
      <if test="dddaylogingift != null" >
        ddDayLoginGift,
      </if>
      <if test="ddregistertime != null" >
        ddRegisterTime,
      </if>
      <if test="ddlogintime != null" >
        ddLoginTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dduid != null" >
        #{dduid,jdbcType=VARCHAR},
      </if>
      <if test="ddclientversion != null" >
        #{ddclientversion,jdbcType=VARCHAR},
      </if>
      <if test="ddname128u != null" >
        #{ddname128u,jdbcType=VARCHAR},
      </if>
      <if test="ddavatarurl1024u != null" >
        #{ddavatarurl1024u,jdbcType=VARCHAR},
      </if>
      <if test="ddavatarframe != null" >
        #{ddavatarframe,jdbcType=INTEGER},
      </if>
      <if test="ddavatarframegain512a != null" >
        #{ddavatarframegain512a,jdbcType=VARCHAR},
      </if>
      <if test="ddsex != null" >
        #{ddsex,jdbcType=INTEGER},
      </if>
      <if test="ddprovince != null" >
        #{ddprovince,jdbcType=VARCHAR},
      </if>
      <if test="ddcity != null" >
        #{ddcity,jdbcType=VARCHAR},
      </if>
      <if test="ddcountry != null" >
        #{ddcountry,jdbcType=VARCHAR},
      </if>
      <if test="ddlanguage != null" >
        #{ddlanguage,jdbcType=VARCHAR},
      </if>
      <if test="ddtitle64u != null" >
        #{ddtitle64u,jdbcType=VARCHAR},
      </if>
      <if test="ddtitlegain2048u != null" >
        #{ddtitlegain2048u,jdbcType=VARCHAR},
      </if>
      <if test="ddawardmoney != null" >
        #{ddawardmoney,jdbcType=INTEGER},
      </if>
      <if test="ddawardcoin != null" >
        #{ddawardcoin,jdbcType=INTEGER},
      </if>
      <if test="ddawardlist1024a != null" >
        #{ddawardlist1024a,jdbcType=VARCHAR},
      </if>
      <if test="ddcoincount != null" >
        #{ddcoincount,jdbcType=INTEGER},
      </if>
      <if test="ddlevel != null" >
        #{ddlevel,jdbcType=INTEGER},
      </if>
      <if test="ddstar != null" >
        #{ddstar,jdbcType=INTEGER},
      </if>
      <if test="ddcollected != null" >
        #{ddcollected,jdbcType=INTEGER},
      </if>
      <if test="ddinterested != null" >
        #{ddinterested,jdbcType=INTEGER},
      </if>
      <if test="ddservicedtime != null" >
        #{ddservicedtime,jdbcType=VARCHAR},
      </if>
      <if test="ddsharedtime != null" >
        #{ddsharedtime,jdbcType=VARCHAR},
      </if>
      <if test="ddtotalpaymoney != null" >
        #{ddtotalpaymoney,jdbcType=INTEGER},
      </if>
      <if test="dddaywatchvideo != null" >
        #{dddaywatchvideo,jdbcType=INTEGER},
      </if>
      <if test="dddaylogingift != null" >
        #{dddaylogingift,jdbcType=INTEGER},
      </if>
      <if test="ddregistertime != null" >
        #{ddregistertime,jdbcType=VARCHAR},
      </if>
      <if test="ddlogintime != null" >
        #{ddlogintime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fish.dao.second.model.UserAllInfo" >
    update user
    <set >
      <if test="dduid != null" >
        ddUid = #{dduid,jdbcType=VARCHAR},
      </if>
      <if test="ddclientversion != null" >
        ddClientVersion = #{ddclientversion,jdbcType=VARCHAR},
      </if>
      <if test="ddname128u != null" >
        ddName128u = #{ddname128u,jdbcType=VARCHAR},
      </if>
      <if test="ddavatarurl1024u != null" >
        ddAvatarUrl1024u = #{ddavatarurl1024u,jdbcType=VARCHAR},
      </if>
      <if test="ddavatarframe != null" >
        ddAvatarFrame = #{ddavatarframe,jdbcType=INTEGER},
      </if>
      <if test="ddavatarframegain512a != null" >
        ddAvatarFrameGain512a = #{ddavatarframegain512a,jdbcType=VARCHAR},
      </if>
      <if test="ddsex != null" >
        ddSex = #{ddsex,jdbcType=INTEGER},
      </if>
      <if test="ddprovince != null" >
        ddProvince = #{ddprovince,jdbcType=VARCHAR},
      </if>
      <if test="ddcity != null" >
        ddCity = #{ddcity,jdbcType=VARCHAR},
      </if>
      <if test="ddcountry != null" >
        ddCountry = #{ddcountry,jdbcType=VARCHAR},
      </if>
      <if test="ddlanguage != null" >
        ddLanguage = #{ddlanguage,jdbcType=VARCHAR},
      </if>
      <if test="ddtitle64u != null" >
        ddTitle64u = #{ddtitle64u,jdbcType=VARCHAR},
      </if>
      <if test="ddtitlegain2048u != null" >
        ddTitleGain2048u = #{ddtitlegain2048u,jdbcType=VARCHAR},
      </if>
      <if test="ddawardmoney != null" >
        ddAwardMoney = #{ddawardmoney,jdbcType=INTEGER},
      </if>
      <if test="ddawardcoin != null" >
        ddAwardCoin = #{ddawardcoin,jdbcType=INTEGER},
      </if>
      <if test="ddawardlist1024a != null" >
        ddAwardList1024a = #{ddawardlist1024a,jdbcType=VARCHAR},
      </if>
      <if test="ddcoincount != null" >
        ddCoinCount = #{ddcoincount,jdbcType=INTEGER},
      </if>
      <if test="ddlevel != null" >
        ddLevel = #{ddlevel,jdbcType=INTEGER},
      </if>
      <if test="ddstar != null" >
        ddStar = #{ddstar,jdbcType=INTEGER},
      </if>
      <if test="ddcollected != null" >
        ddCollected = #{ddcollected,jdbcType=INTEGER},
      </if>
      <if test="ddinterested != null" >
        ddInterested = #{ddinterested,jdbcType=INTEGER},
      </if>
      <if test="ddservicedtime != null" >
        ddServicedTime = #{ddservicedtime,jdbcType=VARCHAR},
      </if>
      <if test="ddsharedtime != null" >
        ddSharedTime = #{ddsharedtime,jdbcType=VARCHAR},
      </if>
      <if test="ddtotalpaymoney != null" >
        ddTotalPayMoney = #{ddtotalpaymoney,jdbcType=INTEGER},
      </if>
      <if test="dddaywatchvideo != null" >
        ddDayWatchVideo = #{dddaywatchvideo,jdbcType=INTEGER},
      </if>
      <if test="dddaylogingift != null" >
        ddDayLoginGift = #{dddaylogingift,jdbcType=INTEGER},
      </if>
      <if test="ddregistertime != null" >
        ddRegisterTime = #{ddregistertime,jdbcType=VARCHAR},
      </if>
      <if test="ddlogintime != null" >
        ddLoginTime = #{ddlogintime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fish.dao.second.model.UserAllInfo" >
    update user
    set ddUid = #{dduid,jdbcType=VARCHAR},
      ddClientVersion = #{ddclientversion,jdbcType=VARCHAR},
      ddName128u = #{ddname128u,jdbcType=VARCHAR},
      ddAvatarUrl1024u = #{ddavatarurl1024u,jdbcType=VARCHAR},
      ddAvatarFrame = #{ddavatarframe,jdbcType=INTEGER},
      ddAvatarFrameGain512a = #{ddavatarframegain512a,jdbcType=VARCHAR},
      ddSex = #{ddsex,jdbcType=INTEGER},
      ddProvince = #{ddprovince,jdbcType=VARCHAR},
      ddCity = #{ddcity,jdbcType=VARCHAR},
      ddCountry = #{ddcountry,jdbcType=VARCHAR},
      ddLanguage = #{ddlanguage,jdbcType=VARCHAR},
      ddTitle64u = #{ddtitle64u,jdbcType=VARCHAR},
      ddTitleGain2048u = #{ddtitlegain2048u,jdbcType=VARCHAR},
      ddAwardMoney = #{ddawardmoney,jdbcType=INTEGER},
      ddAwardCoin = #{ddawardcoin,jdbcType=INTEGER},
      ddAwardList1024a = #{ddawardlist1024a,jdbcType=VARCHAR},
      ddCoinCount = #{ddcoincount,jdbcType=INTEGER},
      ddLevel = #{ddlevel,jdbcType=INTEGER},
      ddStar = #{ddstar,jdbcType=INTEGER},
      ddCollected = #{ddcollected,jdbcType=INTEGER},
      ddInterested = #{ddinterested,jdbcType=INTEGER},
      ddServicedTime = #{ddservicedtime,jdbcType=VARCHAR},
      ddSharedTime = #{ddsharedtime,jdbcType=VARCHAR},
      ddTotalPayMoney = #{ddtotalpaymoney,jdbcType=INTEGER},
      ddDayWatchVideo = #{dddaywatchvideo,jdbcType=INTEGER},
      ddDayLoginGift = #{dddaylogingift,jdbcType=INTEGER},
      ddRegisterTime = #{ddregistertime,jdbcType=VARCHAR},
      ddLoginTime = #{ddlogintime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>