<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.primary.mapper.ArcadeGameSetMapper" >
  <resultMap id="BaseResultMap" type="com.fish.dao.primary.model.ArcadeGameSet" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ddCode" property="ddcode" jdbcType="INTEGER" />
    <result column="ddState" property="ddstate" jdbcType="BIT" />
    <result column="ddAppid" property="ddappid" jdbcType="VARCHAR" />
    <result column="ddName" property="ddname" jdbcType="VARCHAR" />
    <result column="ddName128u" property="ddname128u" jdbcType="VARCHAR" />
    <result column="ddArrange512a" property="ddarrange512a" jdbcType="VARCHAR" />
    <result column="ddContent512a" property="ddcontent512a" jdbcType="VARCHAR" />
    <result column="ddDesc" property="dddesc" jdbcType="VARCHAR" />
    <result column="ddDesc512u" property="dddesc512u" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, ddCode, ddState, ddAppid, ddName,ddName128u, ddArrange512a, ddContent512a,ddDesc, ddDesc512u
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gameset
    where ddCode = #{ddcode,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from gameset
  </select>
    <select id="selectAllByDesc" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from gameset ORDER BY ddCode DESC
    </select>
  <select id="selectAllByAsc" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from gameset ORDER BY ddCode ASC
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gameset
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fish.dao.primary.model.ArcadeGameSet" >
    insert into gameset (id, ddCode, ddState, 
      ddAppid, ddName,ddName128u, ddArrange512a,
      ddContent512a, ddDesc,ddDesc512u)
    values (#{id,jdbcType=INTEGER}, #{ddcode,jdbcType=INTEGER}, #{ddstate,jdbcType=BIT}, 
      #{ddappid,jdbcType=VARCHAR}, #{ddname,jdbcType=VARCHAR},#{ddname128u,jdbcType=VARCHAR}, #{ddarrange512a,jdbcType=VARCHAR},
      #{ddcontent512a,jdbcType=VARCHAR}, #{dddesc,jdbcType=VARCHAR},#{dddesc512u,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fish.dao.primary.model.ArcadeGameSet" >
    insert into gameset
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ddcode != null" >
        ddCode,
      </if>
      <if test="ddstate != null" >
        ddState,
      </if>
      <if test="ddappid != null" >
        ddAppid,
      </if>
      <if test="ddname != null" >
        ddName128u,
      </if>
      <if test="ddname != null" >
        ddName128u,
      </if>
      <if test="ddarrange512a != null" >
        ddArrange512a,
      </if>
      <if test="ddcontent512a != null" >
        ddContent512a,
      </if>
      <if test="dddesc != null" >
        ddDesc,
      </if>
      <if test="dddesc512u != null" >
        ddDesc512u,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ddcode != null" >
        #{ddcode,jdbcType=INTEGER},
      </if>
      <if test="ddstate != null" >
        #{ddstate,jdbcType=BIT},
      </if>
      <if test="ddappid != null" >
        #{ddappid,jdbcType=VARCHAR},
      </if>
      <if test="ddname != null" >
        #{ddname,jdbcType=VARCHAR},
      </if>
      <if test="ddname128u != null" >
        #{ddname128u,jdbcType=VARCHAR},
      </if>
      <if test="ddarrange512a != null" >
        #{ddarrange512a,jdbcType=VARCHAR},
      </if>
      <if test="ddcontent512a != null" >
        #{ddcontent512a,jdbcType=VARCHAR},
      </if>
      <if test="dddesc != null" >
        #{dddesc,jdbcType=VARCHAR},
      </if>
      <if test="dddesc512u != null" >
        #{dddesc512u,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fish.dao.primary.model.ArcadeGameSet" >
    update gameset
    <set >
      <if test="ddcode != null" >
        ddCode = #{ddcode,jdbcType=INTEGER},
      </if>
      <if test="ddstate != null" >
        ddState = #{ddstate,jdbcType=BIT},
      </if>
      <if test="ddappid != null" >
        ddAppid = #{ddappid,jdbcType=VARCHAR},
      </if>
      <if test="ddname != null" >
        ddName = #{ddname,jdbcType=VARCHAR},
      </if>
      <if test="ddname128u != null" >
        ddName128u = #{ddname128u,jdbcType=VARCHAR},
      </if>
      <if test="ddarrange512a != null" >
        ddArrange512a = #{ddarrange512a,jdbcType=VARCHAR},
      </if>
      <if test="ddcontent512a != null" >
        ddContent512a = #{ddcontent512a,jdbcType=VARCHAR},
      </if>
      <if test="dddesc != null" >
        ddDesc = #{dddesc,jdbcType=VARCHAR},
      </if>
      <if test="dddesc512u != null" >
        ddDesc512u = #{dddesc512u,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fish.dao.primary.model.ArcadeGameSet" >
    update gameset
    set ddCode = #{ddcode,jdbcType=INTEGER},
      ddState = #{ddstate,jdbcType=BIT},
      ddAppid = #{ddappid,jdbcType=VARCHAR},
      ddName128u = #{ddname128u,jdbcType=VARCHAR},
      ddName = #{ddname,jdbcType=VARCHAR},
      ddArrange512a = #{ddarrange512a,jdbcType=VARCHAR},
      ddContent512a = #{ddcontent512a,jdbcType=VARCHAR},
       ddDesc = #{dddesc,jdbcType=VARCHAR},
      ddDesc512u = #{dddesc512u,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>