<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fish.dao.primary.mapper.BuyPayMapper">
    <resultMap id="BaseResultMap" type="com.fish.dao.primary.model.BuyPay">
        <id column="buy_date" jdbcType="VARCHAR" property="buyDate"/>
        <id column="buy_app_id" jdbcType="VARCHAR" property="buyAppId"/>
        <result column="buy_product_name" jdbcType="VARCHAR" property="buyProductName"/>
        <result column="buy_cost" jdbcType="INTEGER" property="buyCost"/>
        <result column="buy_click_number" jdbcType="INTEGER" property="buyClickNumber"/>
        <result column="buy_click_price" jdbcType="DECIMAL" property="buyClickPrice"/>
        <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    buy_date, buy_app_id, buy_product_name, buy_cost, buy_click_number, buy_click_price, 
    insert_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="com.fish.dao.primary.model.BuyPay" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from buy_pay
        where buy_date = #{buyDate,jdbcType=VARCHAR}
        and buy_app_id = #{buyAppId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.fish.dao.primary.model.BuyPay">
    delete from buy_pay
    where buy_date = #{buyDate,jdbcType=VARCHAR}
      and buy_app_id = #{buyAppId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.fish.dao.primary.model.BuyPay">
    insert into buy_pay (buy_date, buy_app_id, buy_product_name, 
      buy_cost, buy_click_number, buy_click_price, 
      insert_time)
    values (#{buyDate,jdbcType=VARCHAR}, #{buyAppId,jdbcType=VARCHAR}, #{buyProductName,jdbcType=VARCHAR}, 
      #{buyCost,jdbcType=INTEGER}, #{buyClickNumber,jdbcType=INTEGER}, #{buyClickPrice,jdbcType=DECIMAL}, 
      #{insertTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.fish.dao.primary.model.BuyPay">
        insert into buy_pay
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="buyDate != null">
                buy_date,
            </if>
            <if test="buyAppId != null">
                buy_app_id,
            </if>
            <if test="buyProductName != null">
                buy_product_name,
            </if>
            <if test="buyCost != null">
                buy_cost,
            </if>
            <if test="buyClickNumber != null">
                buy_click_number,
            </if>
            <if test="buyClickPrice != null">
                buy_click_price,
            </if>
            <if test="insertTime != null">
                insert_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="buyDate != null">
                #{buyDate,jdbcType=VARCHAR},
            </if>
            <if test="buyAppId != null">
                #{buyAppId,jdbcType=VARCHAR},
            </if>
            <if test="buyProductName != null">
                #{buyProductName,jdbcType=VARCHAR},
            </if>
            <if test="buyCost != null">
                #{buyCost,jdbcType=INTEGER},
            </if>
            <if test="buyClickNumber != null">
                #{buyClickNumber,jdbcType=INTEGER},
            </if>
            <if test="buyClickPrice != null">
                #{buyClickPrice,jdbcType=DECIMAL},
            </if>
            <if test="insertTime != null">
                #{insertTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.fish.dao.primary.model.BuyPay">
        update buy_pay
        <set>
            <if test="buyProductName != null">
                buy_product_name = #{buyProductName,jdbcType=VARCHAR},
            </if>
            <if test="buyCost != null">
                buy_cost = #{buyCost,jdbcType=INTEGER},
            </if>
            <if test="buyClickNumber != null">
                buy_click_number = #{buyClickNumber,jdbcType=INTEGER},
            </if>
            <if test="buyClickPrice != null">
                buy_click_price = #{buyClickPrice,jdbcType=DECIMAL},
            </if>
            <if test="insertTime != null">
                insert_time = #{insertTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where buy_date = #{buyDate,jdbcType=VARCHAR}
        and buy_app_id = #{buyAppId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fish.dao.primary.model.BuyPay">
    update buy_pay
    set buy_product_name = #{buyProductName,jdbcType=VARCHAR},
      buy_cost = #{buyCost,jdbcType=INTEGER},
      buy_click_number = #{buyClickNumber,jdbcType=INTEGER},
      buy_click_price = #{buyClickPrice,jdbcType=DECIMAL},
      insert_time = #{insertTime,jdbcType=TIMESTAMP}
    where buy_date = #{buyDate,jdbcType=VARCHAR}
      and buy_app_id = #{buyAppId,jdbcType=VARCHAR}
  </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from buy_pay
    </select>
    <select id="selectByAppIdAndDate" parameterType="string" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from buy_pay
        where buy_date = #{buyDate,jdbcType=VARCHAR} and buy_app_id = #{buyAppId,jdbcType=VARCHAR}
    </select>
    <select id="selectSearch" resultMap="BaseResultMap">
         ${_parameter}
    </select>
    <select id="selectCountBuyCost" resultType="java.math.BigDecimal" parameterType="string">
    SELECT SUM(buy_cost) FROM buy_pay WHERE buy_date = #{buyDate,jdbcType=VARCHAR}
  </select>

    <insert id="insertBatch">
        INSERT INTO buy_pay(buy_date, buy_app_id,buy_product_name,
        buy_cost, buy_click_number, buy_click_price,
        insert_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.buyDate},#{item.buyAppId},#{item.buyProductName},#{item.buyCost},#{item.buyClickNumber},
            #{item.buyClickPrice},#{item.insertTime})
        </foreach>
        ON DUPLICATE KEY UPDATE
        buy_product_name = values(buy_product_name),
        buy_cost = values(buy_cost),
        buy_click_number = values(buy_click_number),
        buy_click_price = values(buy_click_price),
        insert_time = values(insert_time)
    </insert>

</mapper>