<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.primary.mapper.PublicCentreMapper" >
  <resultMap id="BaseResultMap" type="com.fish.dao.primary.model.PublicCentre" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="location_id" property="locationId" jdbcType="INTEGER" />
    <result column="show_id" property="showId" jdbcType="INTEGER" />
    <result column="recommend_type" property="recommendType" jdbcType="INTEGER" />
    <result column="recommend_name" property="recommendName" jdbcType="VARCHAR" />
    <result column="skip_type" property="skipType" jdbcType="TINYINT" />
    <result column="skip_set" property="skipSet" jdbcType="INTEGER" />
    <result column="resource_name" property="resourceName" jdbcType="VARCHAR" />
    <result column="detail_name" property="detailName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, location_id, show_id, recommend_type, recommend_name, skip_type, skip_set, resource_name, 
    detail_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from public_centre
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from public_centre
    </select>
  <select id="selectAllBanner" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from public_centre where recommend_type = 0  ORDER BY show_id
  </select>
  <select id="selectAllRecommend" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from public_centre where recommend_type = 1  ORDER BY show_id
  </select>
  <select id="selectAllGame" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from public_centre where recommend_type = 2  ORDER BY show_id
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from public_centre
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fish.dao.primary.model.PublicCentre" >
    insert into public_centre (id, location_id, show_id, 
      recommend_type, recommend_name, skip_type, 
      skip_set, resource_name, detail_name
      )
    values (#{id,jdbcType=INTEGER}, #{locationId,jdbcType=INTEGER}, #{showId,jdbcType=INTEGER}, 
      #{recommendType,jdbcType=INTEGER}, #{recommendName,jdbcType=VARCHAR}, #{skipType,jdbcType=TINYINT}, 
      #{skipSet,jdbcType=INTEGER}, #{resourceName,jdbcType=VARCHAR}, #{detailName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fish.dao.primary.model.PublicCentre" >
    insert into public_centre
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="locationId != null" >
        location_id,
      </if>
      <if test="showId != null" >
        show_id,
      </if>
      <if test="recommendType != null" >
        recommend_type,
      </if>
      <if test="recommendName != null" >
        recommend_name,
      </if>
      <if test="skipType != null" >
        skip_type,
      </if>
      <if test="skipSet != null" >
        skip_set,
      </if>
      <if test="resourceName != null" >
        resource_name,
      </if>
      <if test="detailName != null" >
        detail_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="locationId != null" >
        #{locationId,jdbcType=INTEGER},
      </if>
      <if test="showId != null" >
        #{showId,jdbcType=INTEGER},
      </if>
      <if test="recommendType != null" >
        #{recommendType,jdbcType=INTEGER},
      </if>
      <if test="recommendName != null" >
        #{recommendName,jdbcType=VARCHAR},
      </if>
      <if test="skipType != null" >
        #{skipType,jdbcType=TINYINT},
      </if>
      <if test="skipSet != null" >
        #{skipSet,jdbcType=INTEGER},
      </if>
      <if test="resourceName != null" >
        #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="detailName != null" >
        #{detailName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fish.dao.primary.model.PublicCentre" >
    update public_centre
    <set >
      <if test="locationId != null" >
        location_id = #{locationId,jdbcType=INTEGER},
      </if>
      <if test="showId != null" >
        show_id = #{showId,jdbcType=INTEGER},
      </if>
      <if test="recommendType != null" >
        recommend_type = #{recommendType,jdbcType=INTEGER},
      </if>
      <if test="recommendName != null" >
        recommend_name = #{recommendName,jdbcType=VARCHAR},
      </if>
      <if test="skipType != null" >
        skip_type = #{skipType,jdbcType=TINYINT},
      </if>
      <if test="skipSet != null" >
        skip_set = #{skipSet,jdbcType=INTEGER},
      </if>
      <if test="resourceName != null" >
        resource_name = #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="detailName != null" >
        detail_name = #{detailName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fish.dao.primary.model.PublicCentre" >
    update public_centre
    set location_id = #{locationId,jdbcType=INTEGER},
      show_id = #{showId,jdbcType=INTEGER},
      recommend_type = #{recommendType,jdbcType=INTEGER},
      recommend_name = #{recommendName,jdbcType=VARCHAR},
      skip_type = #{skipType,jdbcType=TINYINT},
      skip_set = #{skipSet,jdbcType=INTEGER},
      resource_name = #{resourceName,jdbcType=VARCHAR},
      detail_name = #{detailName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>