<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fish.dao.primary.mapper.SupplementOrderMapper">
  <resultMap id="BaseResultMap" type="com.fish.dao.primary.model.SupplementOrder">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="appId" jdbcType="VARCHAR" property="appid" />
    <result column="appName" jdbcType="VARCHAR" property="appname" />
    <result column="program_type" jdbcType="INTEGER" property="programType" />
    <result column="coin_count" jdbcType="INTEGER" property="coinCount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, userName, appId, appName, program_type, coin_count, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from supplement_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from supplement_order
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from supplement_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fish.dao.primary.model.SupplementOrder">
    insert into supplement_order (id, userId, userName, 
      appId, appName, program_type, 
      coin_count, create_time)
    values (#{id,jdbcType=BIGINT}, #{userid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{appid,jdbcType=VARCHAR}, #{appname,jdbcType=VARCHAR}, #{programType,jdbcType=INTEGER}, 
      #{coinCount,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fish.dao.primary.model.SupplementOrder">
    insert into supplement_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="appid != null">
        appId,
      </if>
      <if test="appname != null">
        appName,
      </if>
      <if test="programType != null">
        program_type,
      </if>
      <if test="coinCount != null">
        coin_count,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="appname != null">
        #{appname,jdbcType=VARCHAR},
      </if>
      <if test="programType != null">
        #{programType,jdbcType=INTEGER},
      </if>
      <if test="coinCount != null">
        #{coinCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fish.dao.primary.model.SupplementOrder">
    update supplement_order
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="appid != null">
        appId = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="appname != null">
        appName = #{appname,jdbcType=VARCHAR},
      </if>
      <if test="programType != null">
        program_type = #{programType,jdbcType=INTEGER},
      </if>
      <if test="coinCount != null">
        coin_count = #{coinCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fish.dao.primary.model.SupplementOrder">
    update supplement_order
    set userId = #{userid,jdbcType=VARCHAR},
      userName = #{username,jdbcType=VARCHAR},
      appId = #{appid,jdbcType=VARCHAR},
      appName = #{appname,jdbcType=VARCHAR},
      program_type = #{programType,jdbcType=INTEGER},
      coin_count = #{coinCount,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>