<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.primary.mapper.WxInputMapper" >
  <resultMap id="BaseResultMap" type="com.fish.dao.primary.model.WxInput" >
    <id column="insert_time" property="insertTime" jdbcType="DATE" />
    <result column="new_add_nop" property="newAddNop" jdbcType="INTEGER" />
    <result column="active_nop" property="activeNop" jdbcType="INTEGER" />
    <result column="visit_count" property="visitCount" jdbcType="INTEGER" />
    <result column="visit_avg" property="visitAvg" jdbcType="DOUBLE" />
    <result column="stay_avg" property="stayAvg" jdbcType="INTEGER" />
    <result column="share_nop" property="shareNop" jdbcType="INTEGER" />
    <result column="share_count" property="shareCount" jdbcType="INTEGER" />
    <result column="share_new_add" property="shareNewAdd" jdbcType="INTEGER" />
    <result column="keep_day_1" property="keepDay1" jdbcType="DOUBLE" />
    <result column="keep_day_3" property="keepDay3" jdbcType="DOUBLE" />
    <result column="keep_day_7" property="keepDay7" jdbcType="DOUBLE" />
    <result column="banner_exposure" property="bannerExposure" jdbcType="INTEGER" />
    <result column="banner_click" property="bannerClick" jdbcType="INTEGER" />
    <result column="banner_income" property="bannerIncome" jdbcType="DECIMAL" />
    <result column="video_exposure" property="videoExposure" jdbcType="INTEGER" />
    <result column="video_click" property="videoClick" jdbcType="INTEGER" />
    <result column="video_income" property="videoIncome" jdbcType="DECIMAL" />
    <result column="video_total" property="videoTotal" jdbcType="DECIMAL" />
    <result column="virtual_pay" property="virtualPay" jdbcType="DECIMAL" />
    <result column="pay_total" property="payTotal" jdbcType="DECIMAL" />
    <result column="alltotal" property="alltotal" jdbcType="INTEGER" />
    <result column="promotion_costs" property="promotionCosts" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    insert_time, new_add_nop, active_nop, visit_count, visit_avg, stay_avg, share_nop, 
    share_count, share_new_add, keep_day_1, keep_day_3, keep_day_7, banner_exposure, 
    banner_click, banner_income, video_exposure, video_click, video_income, video_total, 
    virtual_pay, pay_total, alltotal, promotion_costs
  </sql>
  <!-- 自定义SQL语句 -->
  <select id="selectBySQL" resultType="java.util.Map" parameterType="java.lang.String" >
      ${_parameter}
  </select>
  <!-- 自定义SQL语句 -->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from wx_input
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.util.Date" >
    select 
    <include refid="Base_Column_List" />
    from wx_input
    where insert_time = #{insertTime,jdbcType=DATE}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.util.Date" >
    delete from wx_input
    where insert_time = #{insertTime,jdbcType=DATE}
  </delete>
  <insert id="insert" parameterType="com.fish.dao.primary.model.WxInput" >
    insert into wx_input (insert_time, new_add_nop, active_nop, 
      visit_count, visit_avg, stay_avg, 
      share_nop, share_count, share_new_add, 
      keep_day_1, keep_day_3, keep_day_7, 
      banner_exposure, banner_click, banner_income, 
      video_exposure, video_click, video_income, 
      video_total, virtual_pay, pay_total, 
      alltotal, promotion_costs)
    values (#{insertTime,jdbcType=DATE}, #{newAddNop,jdbcType=INTEGER}, #{activeNop,jdbcType=INTEGER}, 
      #{visitCount,jdbcType=INTEGER}, #{visitAvg,jdbcType=DOUBLE}, #{stayAvg,jdbcType=INTEGER}, 
      #{shareNop,jdbcType=INTEGER}, #{shareCount,jdbcType=INTEGER}, #{shareNewAdd,jdbcType=INTEGER}, 
      #{keepDay1,jdbcType=DOUBLE}, #{keepDay3,jdbcType=DOUBLE}, #{keepDay7,jdbcType=DOUBLE}, 
      #{bannerExposure,jdbcType=INTEGER}, #{bannerClick,jdbcType=INTEGER}, #{bannerIncome,jdbcType=DECIMAL}, 
      #{videoExposure,jdbcType=INTEGER}, #{videoClick,jdbcType=INTEGER}, #{videoIncome,jdbcType=DECIMAL}, 
      #{videoTotal,jdbcType=DECIMAL}, #{virtualPay,jdbcType=DECIMAL}, #{payTotal,jdbcType=DECIMAL}, 
      #{alltotal,jdbcType=INTEGER}, #{promotionCosts,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.fish.dao.primary.model.WxInput" >
    insert into wx_input
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="insertTime != null" >
        insert_time,
      </if>
      <if test="newAddNop != null" >
        new_add_nop,
      </if>
      <if test="activeNop != null" >
        active_nop,
      </if>
      <if test="visitCount != null" >
        visit_count,
      </if>
      <if test="visitAvg != null" >
        visit_avg,
      </if>
      <if test="stayAvg != null" >
        stay_avg,
      </if>
      <if test="shareNop != null" >
        share_nop,
      </if>
      <if test="shareCount != null" >
        share_count,
      </if>
      <if test="shareNewAdd != null" >
        share_new_add,
      </if>
      <if test="keepDay1 != null" >
        keep_day_1,
      </if>
      <if test="keepDay3 != null" >
        keep_day_3,
      </if>
      <if test="keepDay7 != null" >
        keep_day_7,
      </if>
      <if test="bannerExposure != null" >
        banner_exposure,
      </if>
      <if test="bannerClick != null" >
        banner_click,
      </if>
      <if test="bannerIncome != null" >
        banner_income,
      </if>
      <if test="videoExposure != null" >
        video_exposure,
      </if>
      <if test="videoClick != null" >
        video_click,
      </if>
      <if test="videoIncome != null" >
        video_income,
      </if>
      <if test="videoTotal != null" >
        video_total,
      </if>
      <if test="virtualPay != null" >
        virtual_pay,
      </if>
      <if test="payTotal != null" >
        pay_total,
      </if>
      <if test="alltotal != null" >
        alltotal,
      </if>
      <if test="promotionCosts != null" >
        promotion_costs,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="insertTime != null" >
        #{insertTime,jdbcType=DATE},
      </if>
      <if test="newAddNop != null" >
        #{newAddNop,jdbcType=INTEGER},
      </if>
      <if test="activeNop != null" >
        #{activeNop,jdbcType=INTEGER},
      </if>
      <if test="visitCount != null" >
        #{visitCount,jdbcType=INTEGER},
      </if>
      <if test="visitAvg != null" >
        #{visitAvg,jdbcType=DOUBLE},
      </if>
      <if test="stayAvg != null" >
        #{stayAvg,jdbcType=INTEGER},
      </if>
      <if test="shareNop != null" >
        #{shareNop,jdbcType=INTEGER},
      </if>
      <if test="shareCount != null" >
        #{shareCount,jdbcType=INTEGER},
      </if>
      <if test="shareNewAdd != null" >
        #{shareNewAdd,jdbcType=INTEGER},
      </if>
      <if test="keepDay1 != null" >
        #{keepDay1,jdbcType=DOUBLE},
      </if>
      <if test="keepDay3 != null" >
        #{keepDay3,jdbcType=DOUBLE},
      </if>
      <if test="keepDay7 != null" >
        #{keepDay7,jdbcType=DOUBLE},
      </if>
      <if test="bannerExposure != null" >
        #{bannerExposure,jdbcType=INTEGER},
      </if>
      <if test="bannerClick != null" >
        #{bannerClick,jdbcType=INTEGER},
      </if>
      <if test="bannerIncome != null" >
        #{bannerIncome,jdbcType=DECIMAL},
      </if>
      <if test="videoExposure != null" >
        #{videoExposure,jdbcType=INTEGER},
      </if>
      <if test="videoClick != null" >
        #{videoClick,jdbcType=INTEGER},
      </if>
      <if test="videoIncome != null" >
        #{videoIncome,jdbcType=DECIMAL},
      </if>
      <if test="videoTotal != null" >
        #{videoTotal,jdbcType=DECIMAL},
      </if>
      <if test="virtualPay != null" >
        #{virtualPay,jdbcType=DECIMAL},
      </if>
      <if test="payTotal != null" >
        #{payTotal,jdbcType=DECIMAL},
      </if>
      <if test="alltotal != null" >
        #{alltotal,jdbcType=INTEGER},
      </if>
      <if test="promotionCosts != null" >
        #{promotionCosts,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fish.dao.primary.model.WxInput" >
    update wx_input
    <set >
      <if test="newAddNop != null" >
        new_add_nop = #{newAddNop,jdbcType=INTEGER},
      </if>
      <if test="activeNop != null" >
        active_nop = #{activeNop,jdbcType=INTEGER},
      </if>
      <if test="visitCount != null" >
        visit_count = #{visitCount,jdbcType=INTEGER},
      </if>
      <if test="visitAvg != null" >
        visit_avg = #{visitAvg,jdbcType=DOUBLE},
      </if>
      <if test="stayAvg != null" >
        stay_avg = #{stayAvg,jdbcType=INTEGER},
      </if>
      <if test="shareNop != null" >
        share_nop = #{shareNop,jdbcType=INTEGER},
      </if>
      <if test="shareCount != null" >
        share_count = #{shareCount,jdbcType=INTEGER},
      </if>
      <if test="shareNewAdd != null" >
        share_new_add = #{shareNewAdd,jdbcType=INTEGER},
      </if>
      <if test="keepDay1 != null" >
        keep_day_1 = #{keepDay1,jdbcType=DOUBLE},
      </if>
      <if test="keepDay3 != null" >
        keep_day_3 = #{keepDay3,jdbcType=DOUBLE},
      </if>
      <if test="keepDay7 != null" >
        keep_day_7 = #{keepDay7,jdbcType=DOUBLE},
      </if>
      <if test="bannerExposure != null" >
        banner_exposure = #{bannerExposure,jdbcType=INTEGER},
      </if>
      <if test="bannerClick != null" >
        banner_click = #{bannerClick,jdbcType=INTEGER},
      </if>
      <if test="bannerIncome != null" >
        banner_income = #{bannerIncome,jdbcType=DECIMAL},
      </if>
      <if test="videoExposure != null" >
        video_exposure = #{videoExposure,jdbcType=INTEGER},
      </if>
      <if test="videoClick != null" >
        video_click = #{videoClick,jdbcType=INTEGER},
      </if>
      <if test="videoIncome != null" >
        video_income = #{videoIncome,jdbcType=DECIMAL},
      </if>
      <if test="videoTotal != null" >
        video_total = #{videoTotal,jdbcType=DECIMAL},
      </if>
      <if test="virtualPay != null" >
        virtual_pay = #{virtualPay,jdbcType=DECIMAL},
      </if>
      <if test="payTotal != null" >
        pay_total = #{payTotal,jdbcType=DECIMAL},
      </if>
      <if test="alltotal != null" >
        alltotal = #{alltotal,jdbcType=INTEGER},
      </if>
      <if test="promotionCosts != null" >
        promotion_costs = #{promotionCosts,jdbcType=DECIMAL},
      </if>
    </set>
    where insert_time = #{insertTime,jdbcType=DATE}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fish.dao.primary.model.WxInput" >
    update wx_input
    set new_add_nop = #{newAddNop,jdbcType=INTEGER},
      active_nop = #{activeNop,jdbcType=INTEGER},
      visit_count = #{visitCount,jdbcType=INTEGER},
      visit_avg = #{visitAvg,jdbcType=DOUBLE},
      stay_avg = #{stayAvg,jdbcType=INTEGER},
      share_nop = #{shareNop,jdbcType=INTEGER},
      share_count = #{shareCount,jdbcType=INTEGER},
      share_new_add = #{shareNewAdd,jdbcType=INTEGER},
      keep_day_1 = #{keepDay1,jdbcType=DOUBLE},
      keep_day_3 = #{keepDay3,jdbcType=DOUBLE},
      keep_day_7 = #{keepDay7,jdbcType=DOUBLE},
      banner_exposure = #{bannerExposure,jdbcType=INTEGER},
      banner_click = #{bannerClick,jdbcType=INTEGER},
      banner_income = #{bannerIncome,jdbcType=DECIMAL},
      video_exposure = #{videoExposure,jdbcType=INTEGER},
      video_click = #{videoClick,jdbcType=INTEGER},
      video_income = #{videoIncome,jdbcType=DECIMAL},
      video_total = #{videoTotal,jdbcType=DECIMAL},
      virtual_pay = #{virtualPay,jdbcType=DECIMAL},
      pay_total = #{payTotal,jdbcType=DECIMAL},
      alltotal = #{alltotal,jdbcType=INTEGER},
      promotion_costs = #{promotionCosts,jdbcType=DECIMAL}
    where insert_time = #{insertTime,jdbcType=DATE}
  </update>
</mapper>