<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.second.mapper.GoodsValueMapper" >
  <resultMap id="BaseResultMap" type="com.fish.dao.second.model.GoodsValue" >
    <id column="ddId" property="ddid" jdbcType="INTEGER" />
    <result column="ddState" property="ddstate" jdbcType="BIT" />
    <result column="ddName" property="ddname" jdbcType="VARCHAR" />
    <result column="ddDesc" property="dddesc" jdbcType="VARCHAR" />
    <result column="ddCostType" property="ddcosttype" jdbcType="VARCHAR" />
    <result column="ddPrice" property="ddprice" jdbcType="DECIMAL" />
    <result column="ddGoodsType" property="ddgoodstype" jdbcType="VARCHAR" />
    <result column="ddValue" property="ddvalue" jdbcType="INTEGER" />
    <result column="insertTime" property="inserttime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ddId, ddState, ddName, ddDesc, ddCostType, ddPrice, ddGoodsType, ddValue, insertTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goods_value_ext
    where ddId = #{ddid,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultType="com.fish.dao.second.model.GoodsValue">
      select
      <include refid="Base_Column_List" />
      from goods_value_ext
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods_value_ext
    where ddId = #{ddid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fish.dao.second.model.GoodsValue" >
    insert into goods_value_ext (ddId, ddState, ddName, 
      ddDesc, ddCostType, ddPrice, 
      ddGoodsType, ddValue, insertTime
      )
    values (#{ddid,jdbcType=INTEGER}, #{ddstate,jdbcType=BIT}, #{ddname,jdbcType=VARCHAR}, 
      #{dddesc,jdbcType=VARCHAR}, #{ddcosttype,jdbcType=VARCHAR}, #{ddprice,jdbcType=DECIMAL}, 
      #{ddgoodstype,jdbcType=VARCHAR}, #{ddvalue,jdbcType=INTEGER}, #{inserttime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fish.dao.second.model.GoodsValue" >
    insert into goods_value_ext
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ddid != null" >
        ddId,
      </if>
      <if test="ddstate != null" >
        ddState,
      </if>
      <if test="ddname != null" >
        ddName,
      </if>
      <if test="dddesc != null" >
        ddDesc,
      </if>
      <if test="ddcosttype != null" >
        ddCostType,
      </if>
      <if test="ddprice != null" >
        ddPrice,
      </if>
      <if test="ddgoodstype != null" >
        ddGoodsType,
      </if>
      <if test="ddvalue != null" >
        ddValue,
      </if>
      <if test="inserttime != null" >
        insertTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ddid != null" >
        #{ddid,jdbcType=INTEGER},
      </if>
      <if test="ddstate != null" >
        #{ddstate,jdbcType=BIT},
      </if>
      <if test="ddname != null" >
        #{ddname,jdbcType=VARCHAR},
      </if>
      <if test="dddesc != null" >
        #{dddesc,jdbcType=VARCHAR},
      </if>
      <if test="ddcosttype != null" >
        #{ddcosttype,jdbcType=VARCHAR},
      </if>
      <if test="ddprice != null" >
        #{ddprice,jdbcType=DECIMAL},
      </if>
      <if test="ddgoodstype != null" >
        #{ddgoodstype,jdbcType=VARCHAR},
      </if>
      <if test="ddvalue != null" >
        #{ddvalue,jdbcType=INTEGER},
      </if>
      <if test="inserttime != null" >
        #{inserttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fish.dao.second.model.GoodsValue" >
    update goods_value_ext
    <set >
      <if test="ddstate != null" >
        ddState = #{ddstate,jdbcType=BIT},
      </if>
      <if test="ddname != null" >
        ddName = #{ddname,jdbcType=VARCHAR},
      </if>
      <if test="dddesc != null" >
        ddDesc = #{dddesc,jdbcType=VARCHAR},
      </if>
      <if test="ddcosttype != null" >
        ddCostType = #{ddcosttype,jdbcType=VARCHAR},
      </if>
      <if test="ddprice != null" >
        ddPrice = #{ddprice,jdbcType=DECIMAL},
      </if>
      <if test="ddgoodstype != null" >
        ddGoodsType = #{ddgoodstype,jdbcType=VARCHAR},
      </if>
      <if test="ddvalue != null" >
        ddValue = #{ddvalue,jdbcType=INTEGER},
      </if>
      <if test="inserttime != null" >
        insertTime = #{inserttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ddId = #{ddid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fish.dao.second.model.GoodsValue" >
    update goods_value_ext
    set ddState = #{ddstate,jdbcType=BIT},
      ddName = #{ddname,jdbcType=VARCHAR},
      ddDesc = #{dddesc,jdbcType=VARCHAR},
      ddCostType = #{ddcosttype,jdbcType=VARCHAR},
      ddPrice = #{ddprice,jdbcType=DECIMAL},
      ddGoodsType = #{ddgoodstype,jdbcType=VARCHAR},
      ddValue = #{ddvalue,jdbcType=INTEGER},
      insertTime = #{inserttime,jdbcType=TIMESTAMP}
    where ddId = #{ddid,jdbcType=INTEGER}
  </update>
</mapper>