<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.second.mapper.RechargeMapper" >
  <resultMap id="BaseResultMap" type="com.fish.dao.second.model.Recharge" >
    <id column="ddId" property="ddid" jdbcType="VARCHAR" />
    <result column="ddUid" property="dduid" jdbcType="VARCHAR" />
    <result column="ddAppId" property="ddappid" jdbcType="VARCHAR" />
    <result column="ddRmb" property="ddrmb" jdbcType="DECIMAL" />
    <result column="ddTip" property="ddtip" jdbcType="VARCHAR" />
    <result column="ddStatus" property="ddstatus" jdbcType="INTEGER" />
    <result column="ddTrans" property="ddtrans" jdbcType="TIMESTAMP" />
    <result column="ddTimes" property="ddtimes" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ddId, ddUid, ddAppId, ddRmb, ddTip, ddStatus, ddTrans, ddTimes
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from recharge
    where ddId = #{ddid,jdbcType=VARCHAR}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from recharge where ddStatus != 200
    </select>
    <select id="selectAllCharged" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from recharge
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from recharge
    where ddId = #{ddid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fish.dao.second.model.Recharge" >
    insert into recharge (ddId, ddUid, ddAppId, 
      ddRmb, ddTip, ddStatus, 
      ddTrans, ddTimes)
    values (#{ddid,jdbcType=VARCHAR}, #{dduid,jdbcType=VARCHAR}, #{ddappid,jdbcType=VARCHAR}, 
      #{ddrmb,jdbcType=DECIMAL}, #{ddtip,jdbcType=VARCHAR}, #{ddstatus,jdbcType=INTEGER}, 
      #{ddtrans,jdbcType=TIMESTAMP}, #{ddtimes,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fish.dao.second.model.Recharge" >
    insert into recharge
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ddid != null" >
        ddId,
      </if>
      <if test="dduid != null" >
        ddUid,
      </if>
      <if test="ddappid != null" >
        ddAppId,
      </if>
      <if test="ddrmb != null" >
        ddRmb,
      </if>
      <if test="ddtip != null" >
        ddTip,
      </if>
      <if test="ddstatus != null" >
        ddStatus,
      </if>
      <if test="ddtrans != null" >
        ddTrans,
      </if>
      <if test="ddtimes != null" >
        ddTimes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ddid != null" >
        #{ddid,jdbcType=VARCHAR},
      </if>
      <if test="dduid != null" >
        #{dduid,jdbcType=VARCHAR},
      </if>
      <if test="ddappid != null" >
        #{ddappid,jdbcType=VARCHAR},
      </if>
      <if test="ddrmb != null" >
        #{ddrmb,jdbcType=DECIMAL},
      </if>
      <if test="ddtip != null" >
        #{ddtip,jdbcType=VARCHAR},
      </if>
      <if test="ddstatus != null" >
        #{ddstatus,jdbcType=INTEGER},
      </if>
      <if test="ddtrans != null" >
        #{ddtrans,jdbcType=TIMESTAMP},
      </if>
      <if test="ddtimes != null" >
        #{ddtimes,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fish.dao.second.model.Recharge" >
    update recharge
    <set >
      <if test="dduid != null" >
        ddUid = #{dduid,jdbcType=VARCHAR},
      </if>
      <if test="ddappid != null" >
        ddAppId = #{ddappid,jdbcType=VARCHAR},
      </if>
      <if test="ddrmb != null" >
        ddRmb = #{ddrmb,jdbcType=DECIMAL},
      </if>
      <if test="ddtip != null" >
        ddTip = #{ddtip,jdbcType=VARCHAR},
      </if>
      <if test="ddstatus != null" >
        ddStatus = #{ddstatus,jdbcType=INTEGER},
      </if>
      <if test="ddtrans != null" >
        ddTrans = #{ddtrans,jdbcType=TIMESTAMP},
      </if>
      <if test="ddtimes != null" >
        ddTimes = #{ddtimes,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ddId = #{ddid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fish.dao.second.model.Recharge" >
    update recharge
    set ddUid = #{dduid,jdbcType=VARCHAR},
      ddAppId = #{ddappid,jdbcType=VARCHAR},
      ddRmb = #{ddrmb,jdbcType=DECIMAL},
      ddTip = #{ddtip,jdbcType=VARCHAR},
      ddStatus = #{ddstatus,jdbcType=INTEGER},
      ddTrans = #{ddtrans,jdbcType=TIMESTAMP},
      ddTimes = #{ddtimes,jdbcType=TIMESTAMP}
    where ddId = #{ddid,jdbcType=VARCHAR}
  </update>
</mapper>