<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.second.mapper.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.fish.dao.second.model.UserInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ddUid" property="dduid" jdbcType="VARCHAR" />
    <result column="ddOId" property="ddoid" jdbcType="VARCHAR" />
    <result column="ddAppId" property="ddappid" jdbcType="VARCHAR" />
    <result column="ddClientVersion" property="ddclientversion" jdbcType="VARCHAR" />
    <result column="ddName" property="ddname" jdbcType="VARCHAR" />
    <result column="ddAvatarUrl" property="ddavatarurl" jdbcType="VARCHAR" />
    <result column="ddAvatarFrame" property="ddavatarframe" jdbcType="INTEGER" />
    <result column="ddAvatarFrameGain" property="ddavatarframegain" jdbcType="VARCHAR" />
    <result column="ddSex" property="ddsex" jdbcType="INTEGER" />
    <result column="ddProvince" property="ddprovince" jdbcType="VARCHAR" />
    <result column="ddCity" property="ddcity" jdbcType="VARCHAR" />
    <result column="ddCountry" property="ddcountry" jdbcType="VARCHAR" />
    <result column="ddLanguage" property="ddlanguage" jdbcType="VARCHAR" />
    <result column="ddAwardList" property="ddawardlist" jdbcType="VARCHAR" />
    <result column="ddCollected" property="ddcollected" jdbcType="INTEGER" />
    <result column="ddInterested" property="ddinterested" jdbcType="INTEGER" />
    <result column="ddServicedTime" property="ddservicedtime" jdbcType="VARCHAR" />
    <result column="ddSharedTime" property="ddsharedtime" jdbcType="VARCHAR" />
    <result column="ddDayWatchVideo" property="dddaywatchvideo" jdbcType="INTEGER" />
    <result column="ddDayLoginGift" property="dddaylogingift" jdbcType="INTEGER" />
    <result column="ddRegisterTime" property="ddregistertime" jdbcType="TIMESTAMP" />
    <result column="ddLoginTime" property="ddlogintime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, ddUid, ddOId, ddAppId, ddClientVersion, ddName, ddAvatarUrl, ddAvatarFrame, ddAvatarFrameGain, 
    ddSex, ddProvince, ddCity, ddCountry, ddLanguage, ddAwardList, ddCollected, ddInterested, 
    ddServicedTime, ddSharedTime, ddDayWatchVideo, ddDayLoginGift, ddRegisterTime, ddLoginTime
  </sql>
  <sql id="Base_List" >
     ddUid,ddName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultType="com.fish.dao.second.model.UserAllInfo">
    select
    <include refid="Base_Column_List" />
    from user_info
  </select>
  <select id="selectByRegister" resultType="com.fish.dao.second.model.UserAllInfo">
    select
    <include refid="Base_Column_List" />
    from user_info where DATE(ddRegisterTime) between '${start}' and '${end}'
  </select>
  <select id="selectByLogin" resultType="com.fish.dao.second.model.UserAllInfo">
    select
    <include refid="Base_Column_List" />
    from user_info where DATE(ddLoginTime) between '${start}' and '${end}'
  </select>
  <select id="selectByTime" resultType="com.fish.dao.second.model.UserAllInfo">
    select
    <include refid="Base_Column_List" />
    from user_info where DATE(ddRegisterTime) between '${registerstart}' and '${registerend}'
    and DATE(ddLoginTime) between '${loginstart}' and '${loginend}'
  </select>
  <select id="selectByDdUid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_info
    where ddUid = #{dduid,jdbcType=VARCHAR}
  </select>
  <select id="selectUserInfo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_List" />
    from user_info
    where ddUid in ( ${_parameter})
  </select>
    <select id="selectByDdName" resultMap="BaseResultMap" parameterType="java.lang.String">
      select
      <include refid="Base_Column_List" />
      from user_info
      where ddName like '${_parameter}%'
    </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fish.dao.second.model.UserInfo" >
    insert into user_info (id, ddUid, ddOId, 
      ddAppId, ddClientVersion, ddName, 
      ddAvatarUrl, ddAvatarFrame, ddAvatarFrameGain, 
      ddSex, ddProvince, ddCity, 
      ddCountry, ddLanguage, ddAwardList, 
      ddCollected, ddInterested, ddServicedTime, 
      ddSharedTime, ddDayWatchVideo, ddDayLoginGift, 
      ddRegisterTime, ddLoginTime)
    values (#{id,jdbcType=INTEGER}, #{dduid,jdbcType=VARCHAR}, #{ddoid,jdbcType=VARCHAR}, 
      #{ddappid,jdbcType=VARCHAR}, #{ddclientversion,jdbcType=VARCHAR}, #{ddname,jdbcType=VARCHAR}, 
      #{ddavatarurl,jdbcType=VARCHAR}, #{ddavatarframe,jdbcType=INTEGER}, #{ddavatarframegain,jdbcType=VARCHAR}, 
      #{ddsex,jdbcType=INTEGER}, #{ddprovince,jdbcType=VARCHAR}, #{ddcity,jdbcType=VARCHAR}, 
      #{ddcountry,jdbcType=VARCHAR}, #{ddlanguage,jdbcType=VARCHAR}, #{ddawardlist,jdbcType=VARCHAR}, 
      #{ddcollected,jdbcType=INTEGER}, #{ddinterested,jdbcType=INTEGER}, #{ddservicedtime,jdbcType=VARCHAR}, 
      #{ddsharedtime,jdbcType=VARCHAR}, #{dddaywatchvideo,jdbcType=INTEGER}, #{dddaylogingift,jdbcType=INTEGER}, 
      #{ddregistertime,jdbcType=TIMESTAMP}, #{ddlogintime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fish.dao.second.model.UserInfo" >
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dduid != null" >
        ddUid,
      </if>
      <if test="ddoid != null" >
        ddOId,
      </if>
      <if test="ddappid != null" >
        ddAppId,
      </if>
      <if test="ddclientversion != null" >
        ddClientVersion,
      </if>
      <if test="ddname != null" >
        ddName,
      </if>
      <if test="ddavatarurl != null" >
        ddAvatarUrl,
      </if>
      <if test="ddavatarframe != null" >
        ddAvatarFrame,
      </if>
      <if test="ddavatarframegain != null" >
        ddAvatarFrameGain,
      </if>
      <if test="ddsex != null" >
        ddSex,
      </if>
      <if test="ddprovince != null" >
        ddProvince,
      </if>
      <if test="ddcity != null" >
        ddCity,
      </if>
      <if test="ddcountry != null" >
        ddCountry,
      </if>
      <if test="ddlanguage != null" >
        ddLanguage,
      </if>
      <if test="ddawardlist != null" >
        ddAwardList,
      </if>
      <if test="ddcollected != null" >
        ddCollected,
      </if>
      <if test="ddinterested != null" >
        ddInterested,
      </if>
      <if test="ddservicedtime != null" >
        ddServicedTime,
      </if>
      <if test="ddsharedtime != null" >
        ddSharedTime,
      </if>
      <if test="dddaywatchvideo != null" >
        ddDayWatchVideo,
      </if>
      <if test="dddaylogingift != null" >
        ddDayLoginGift,
      </if>
      <if test="ddregistertime != null" >
        ddRegisterTime,
      </if>
      <if test="ddlogintime != null" >
        ddLoginTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dduid != null" >
        #{dduid,jdbcType=VARCHAR},
      </if>
      <if test="ddoid != null" >
        #{ddoid,jdbcType=VARCHAR},
      </if>
      <if test="ddappid != null" >
        #{ddappid,jdbcType=VARCHAR},
      </if>
      <if test="ddclientversion != null" >
        #{ddclientversion,jdbcType=VARCHAR},
      </if>
      <if test="ddname != null" >
        #{ddname,jdbcType=VARCHAR},
      </if>
      <if test="ddavatarurl != null" >
        #{ddavatarurl,jdbcType=VARCHAR},
      </if>
      <if test="ddavatarframe != null" >
        #{ddavatarframe,jdbcType=INTEGER},
      </if>
      <if test="ddavatarframegain != null" >
        #{ddavatarframegain,jdbcType=VARCHAR},
      </if>
      <if test="ddsex != null" >
        #{ddsex,jdbcType=INTEGER},
      </if>
      <if test="ddprovince != null" >
        #{ddprovince,jdbcType=VARCHAR},
      </if>
      <if test="ddcity != null" >
        #{ddcity,jdbcType=VARCHAR},
      </if>
      <if test="ddcountry != null" >
        #{ddcountry,jdbcType=VARCHAR},
      </if>
      <if test="ddlanguage != null" >
        #{ddlanguage,jdbcType=VARCHAR},
      </if>
      <if test="ddawardlist != null" >
        #{ddawardlist,jdbcType=VARCHAR},
      </if>
      <if test="ddcollected != null" >
        #{ddcollected,jdbcType=INTEGER},
      </if>
      <if test="ddinterested != null" >
        #{ddinterested,jdbcType=INTEGER},
      </if>
      <if test="ddservicedtime != null" >
        #{ddservicedtime,jdbcType=VARCHAR},
      </if>
      <if test="ddsharedtime != null" >
        #{ddsharedtime,jdbcType=VARCHAR},
      </if>
      <if test="dddaywatchvideo != null" >
        #{dddaywatchvideo,jdbcType=INTEGER},
      </if>
      <if test="dddaylogingift != null" >
        #{dddaylogingift,jdbcType=INTEGER},
      </if>
      <if test="ddregistertime != null" >
        #{ddregistertime,jdbcType=TIMESTAMP},
      </if>
      <if test="ddlogintime != null" >
        #{ddlogintime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fish.dao.second.model.UserInfo" >
    update user_info
    <set >
      <if test="dduid != null" >
        ddUid = #{dduid,jdbcType=VARCHAR},
      </if>
      <if test="ddoid != null" >
        ddOId = #{ddoid,jdbcType=VARCHAR},
      </if>
      <if test="ddappid != null" >
        ddAppId = #{ddappid,jdbcType=VARCHAR},
      </if>
      <if test="ddclientversion != null" >
        ddClientVersion = #{ddclientversion,jdbcType=VARCHAR},
      </if>
      <if test="ddname != null" >
        ddName = #{ddname,jdbcType=VARCHAR},
      </if>
      <if test="ddavatarurl != null" >
        ddAvatarUrl = #{ddavatarurl,jdbcType=VARCHAR},
      </if>
      <if test="ddavatarframe != null" >
        ddAvatarFrame = #{ddavatarframe,jdbcType=INTEGER},
      </if>
      <if test="ddavatarframegain != null" >
        ddAvatarFrameGain = #{ddavatarframegain,jdbcType=VARCHAR},
      </if>
      <if test="ddsex != null" >
        ddSex = #{ddsex,jdbcType=INTEGER},
      </if>
      <if test="ddprovince != null" >
        ddProvince = #{ddprovince,jdbcType=VARCHAR},
      </if>
      <if test="ddcity != null" >
        ddCity = #{ddcity,jdbcType=VARCHAR},
      </if>
      <if test="ddcountry != null" >
        ddCountry = #{ddcountry,jdbcType=VARCHAR},
      </if>
      <if test="ddlanguage != null" >
        ddLanguage = #{ddlanguage,jdbcType=VARCHAR},
      </if>
      <if test="ddawardlist != null" >
        ddAwardList = #{ddawardlist,jdbcType=VARCHAR},
      </if>
      <if test="ddcollected != null" >
        ddCollected = #{ddcollected,jdbcType=INTEGER},
      </if>
      <if test="ddinterested != null" >
        ddInterested = #{ddinterested,jdbcType=INTEGER},
      </if>
      <if test="ddservicedtime != null" >
        ddServicedTime = #{ddservicedtime,jdbcType=VARCHAR},
      </if>
      <if test="ddsharedtime != null" >
        ddSharedTime = #{ddsharedtime,jdbcType=VARCHAR},
      </if>
      <if test="dddaywatchvideo != null" >
        ddDayWatchVideo = #{dddaywatchvideo,jdbcType=INTEGER},
      </if>
      <if test="dddaylogingift != null" >
        ddDayLoginGift = #{dddaylogingift,jdbcType=INTEGER},
      </if>
      <if test="ddregistertime != null" >
        ddRegisterTime = #{ddregistertime,jdbcType=TIMESTAMP},
      </if>
      <if test="ddlogintime != null" >
        ddLoginTime = #{ddlogintime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fish.dao.second.model.UserInfo" >
    update user_info
    set ddUid = #{dduid,jdbcType=VARCHAR},
      ddOId = #{ddoid,jdbcType=VARCHAR},
      ddAppId = #{ddappid,jdbcType=VARCHAR},
      ddClientVersion = #{ddclientversion,jdbcType=VARCHAR},
      ddName = #{ddname,jdbcType=VARCHAR},
      ddAvatarUrl = #{ddavatarurl,jdbcType=VARCHAR},
      ddAvatarFrame = #{ddavatarframe,jdbcType=INTEGER},
      ddAvatarFrameGain = #{ddavatarframegain,jdbcType=VARCHAR},
      ddSex = #{ddsex,jdbcType=INTEGER},
      ddProvince = #{ddprovince,jdbcType=VARCHAR},
      ddCity = #{ddcity,jdbcType=VARCHAR},
      ddCountry = #{ddcountry,jdbcType=VARCHAR},
      ddLanguage = #{ddlanguage,jdbcType=VARCHAR},
      ddAwardList = #{ddawardlist,jdbcType=VARCHAR},
      ddCollected = #{ddcollected,jdbcType=INTEGER},
      ddInterested = #{ddinterested,jdbcType=INTEGER},
      ddServicedTime = #{ddservicedtime,jdbcType=VARCHAR},
      ddSharedTime = #{ddsharedtime,jdbcType=VARCHAR},
      ddDayWatchVideo = #{dddaywatchvideo,jdbcType=INTEGER},
      ddDayLoginGift = #{dddaylogingift,jdbcType=INTEGER},
      ddRegisterTime = #{ddregistertime,jdbcType=TIMESTAMP},
      ddLoginTime = #{ddlogintime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>